@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fcfbfc;
}

:root {
  font-size: 18px;
}

@theme {
  /* --breakpoint-sm-: 375px; */
  --breakpoint-sm: 375px;
}

/* .slick-list {
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
  padding: 0;
  margin: 0;
}
.slick-slide {
  background-color: red;
  display: flex !important;
  justify-content: center;
  flex-direction: column !important;
  gap: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.slick-slide div {
  background-color: yellow;
} */

@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  :root {
    font-size: 12px;
  }
}

.footer2 {
  border-bottom: 0.1rem #f3f3f3 solid;
}
